body {
  font-family: 'Raleway', sans-serif;
}
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 95px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.nav--header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #303134;
  text-transform: uppercase;
  margin-right: 48px;
}

.banner {
  width: 100%;
  height: 568px;
  background: rgb(8, 174, 234);
  background: linear-gradient(
    0deg,
    rgba(8, 174, 234, 1) 0%,
    rgba(42, 245, 152, 0.6474964985994398) 100%
  );
  padding: 0 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -68px;
}
.price {
  position: relative;
}
.price--text {
  position: absolute;
  top: 36px;
  left: 56px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #006cd1;
}
.banner--title {
  font-size: 78px;
  line-height: 82px;
  font-weight: 400;
  color: #fff;
}
.banner--paragraph {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 32px;
}
.services {
  width: 100%;
  height: 804px;
}
.video--tour {
  width: 100%;
  height: 504px;
  background-image: url('/images/clipBg.png');
  background-repeat: no-repeat;
  background-position: 10% 90%;
  background-size: cover;
}
.video--black {
  width: 100%;
  height: 504px;
  background-color: #000;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 62px;
  margin-bottom: 53px;
}
.video--text--paragraph {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}
.video--text--title {
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.video--container {
  width: 664px;
  height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.pause--icone {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
}
.video--progress {
  background-color: #4b54fa;
  width: 664px;
  height: 4px;
  margin: 0 auto;
}

.achievement {
  width: 100%;
  height: 316px;
  padding: 40px 152px 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.achived {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.achived--title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: #1a1a1b;
  margin-top: 24px;
}
.achived--paragraph {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #1a1a1b;
  margin-top: 8px;
  text-transform: uppercase;
}

.popular--package {
  width: 100%;
  height: 624px;
  padding: 64px 0 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* text */
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.text--paragraph {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #8d8d8d;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text--title {
  font-size: 26px;
  line-height: 30px;
  color: #1a1a1b;
  font-weight: 600;
  margin-bottom: 16px;
}

/* text */

.package {
  display: flex;
  justify-content: space-between;
  width: 860px;
}
.package--container {
  width: 267px;
  height: 358px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.image--container {
  position: relative;
}
.package--type {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fed701;
  color: #1a1a1b;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  padding: 4px 8px;
}

.package--text {
  text-align: center;
  padding-top: 12px;
}
.package--text--title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #4b54fa;
  margin: 8px 0;
}

.package--text--paragraph {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #1a1a1b;
}

.subscribe {
  width: 100%;
  height: 350px;
  background-image: url('/images/subscribeBgImage.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe--inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(8, 174, 234);
  background: linear-gradient(
    0deg,
    rgba(8, 174, 234, 1) 0%,
    rgba(42, 245, 152, 0.6474964985994398) 100%
  );
}
.subscribe--text {
  text-align: center;
}
.subscribe--text--title {
  font-size: 34px;
  line-height: 38px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}
.subscribe--text--paragraph {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
}

.subscribe--input {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.subscribe--email {
  width: 392px;
  height: 48px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 16px 30px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-right: 24px;
}
.subscribe--email::placeholder {
  color: #fff;
}
.subscribe--email:focus {
  outline-style: none;
}

.subscribe--btn {
  padding: 16px 32px;
  background-color: #fff;
  color: #08aeea;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.coments {
  width: 100%;
  height: 625px;
  padding: 72px 95px;
}

.coments--inner {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.coment--container {
  width: 368px;
  height: 408px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 56px 32px;
}

.coment--name {
  font-size: 18px;
  line-height: 22px;
  color: #4b54fa;
  font-weight: 700;
  margin-top: 24px;
}
.coment--coment {
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1b;
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 280px;
}
.planeTrip {
  width: 100%;
  height: 504px;
  background-image: url('/images/Brightness-Contrast\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}
.planeTrip--inner {
  background-image: url('/images/bgBlur.png');
  position: bottom;
  position: absolute;
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.planeTrip--title {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}
.planeTrip--btn {
  padding: 16px 32px;
  color: #fff;
  background: rgb(8, 174, 234);
  background: linear-gradient(
    0deg,
    rgba(8, 174, 234, 1) 0%,
    rgba(42, 245, 152, 0.6474964985994398) 100%
  );
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.destination {
  width: 100%;
  height: 708px;
  padding: 64px 184px 0;
}

.destination--content {
  width: 100%;
  height: 425px;
  display: flex;
  justify-content: space-between;
}
.destination--content--inner {
  width: 271px;
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  display: flex;
  position: relative;
}
.destination--bg {
  width: 271px;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(48, 48, 48, 0.9) 80%,
    rgba(0, 0, 0, 0.9) 100%
  );
  position: absolute;
}

.content--inner {
  position: absolute;
  bottom: 12px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.destination--name {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
}
.destination--price {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.destination--icon--container {
  width: 40px;
  height: 40px;
  background: rgb(8, 174, 234);
  background: linear-gradient(
    0deg,
    rgba(8, 174, 234, 1) 0%,
    rgba(42, 245, 152, 0.6474964985994398) 100%
  );
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 100%;
  height: 432px;
}
footer {
  width: 100%;
  height: 285px;
  background-color: #141418;
  padding: 54px 92px 0;
}
.footer--container {
  display: flex;
  justify-content: space-between;
  height: 231px;
}
.footer--column {
  display: flex;
  width: 640px;
  justify-content: space-between;
}
.footer--title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 24px;
}
.column {
  display: flex;
  flex-direction: column;
  height: 104px;
  justify-content: space-between;
}
.footer--list {
  font-size: 16px;
  line-height: 20px;
  color: #dcdbdb;
}
.footer--label {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer--input {
  display: flex;
  margin-top: 16px;
}
.footer--email {
  height: 48px;
  width: 344px;
  padding: 12px 16px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.footer--email:focus {
  border: none;
  outline-style: none;
}
.footer--email ::placeholder {
  color: #353030;
}
.footer--icon--bg {
  width: 48px;
  height: 48px;
  padding: 16px;
  fill: #fff;
  color: #fff;
  background: rgb(8, 174, 234);
  background: linear-gradient(
    0deg,
    rgba(8, 174, 234, 1) 0%,
    rgba(42, 245, 152, 0.6474964985994398) 100%
  );
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.all--right {
  background-color: #141418;
  border-top: 1px solid #e8e8e8;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.--text {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
